//default
.carousel {
    padding: 0 6px;
    height: 100%;
    width: 100%;
    .carousel-inner {
        top: 0;
        left: 0;
        justify-content: center;
        overflow: visible;
        height: calc(100% - 18.8px);
        .overturn {
            animation: myanim1 0.9s linear;
        }
        @keyframes myanim1 {
            51.1% {
                transform: rotateY(-90deg) scale(0.7) rotate(-45deg);
            }
            51% {
                transform: rotateY(90deg) scale(0.7) rotate(45deg);
            }
        }
        .overturn__back {
            animation: myanim2 0.9s linear;
        }
        @keyframes myanim2 {
            51.1% {
                transform: rotateY(-90deg) scale(0.7) rotate(-45deg);
            }
            51% {
                transform: rotateY(90deg) scale(0.7) rotate(45deg);
            }
        }
        .carousel-item {
            box-sizing: border-box;
            height: calc(100% - 28.8px);
            width: 100%;
            transition: all 0.4s;
            opacity: 1;
            .inside__item__container {
                display: flex;
                flex: 0;
                height: 100%;
                width: 100%;
                padding: 6px;
                box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
                border-radius: 23px;
            }
        }
    }
    .carousel-indicators {
        display: flex;
        justify-self: center;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
        border-radius: 23px;
        width: fit-content;
        padding: 2px 6px;
        margin: 0 auto;
        .active {
            height: 0.8rem;
            width: 0.8rem;
            align-self: center;
            opacity: 0.9;
            border-color: white;
            border-width: 1.6px;
            border-style: solid;
            background-color: transparent;
        }
        Button {
            height: 1.4px;
            width: 0.8rem;
            border-radius: 5.5px;
        }
    }
}

.carousel-light .carousel-indicators {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.carousel-dark .carousel-indicators {
    --bs-bg-opacity: 1;
    background-color: rgba(
        var(--bs-light-rgb),
        var(--bs-bg-opacity)
    ) !important;
}
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
    transform: scale(0.9) translateX(120%);
}
.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
    transform: scale(0.9) translateX(-120%);
}
.carousel-dark .carousel-indicators {
    .active {
        border-color: black;
    }
}
//mobile
@media (max-width: 576px) {
    .carousel {
        .carousel-inner {
            .carousel-item {
                .inside__item__container {
                    margin: 0;
                }
            }
        }
        .carousel-indicators {
            .active {
            }
            Button {
            }
        }
    }

    .carousel-light .carousel-indicators {
    }
    .carousel-dark .carousel-indicators {
    }
    .carousel-item-next:not(.carousel-item-start),
    .active.carousel-item-end {
    }
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start {
    }
    .carousel-dark .carousel-indicators {
        .active {
        }
    }
}

//tablet
@media (min-width: 576px) {
    .carousel {
        padding: 8px;
        .carousel-inner {
            height: calc(100% - 8.8px);
            @keyframes myanim1 {
                50% {
                    transform: rotateY(-90deg) scale(0.7) rotate(15deg);
                }
            }
            @keyframes myanim2 {
                50% {
                    transform: rotateY(90deg) scale(0.7) rotate(-15deg);
                }
            }
            .carousel-item {
                .inside__item__container {
                }
            }
        }
        .carousel-indicators {
            margin: 9px auto;
            .active {
            }
            Button {
            }
        }
    }

    .carousel-light .carousel-indicators {
    }
    .carousel-dark .carousel-indicators {
    }
    .carousel-item-next:not(.carousel-item-start),
    .active.carousel-item-end {
        transform: scale(0.9) translateX(130%);
    }
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start {
        transform: scale(0.9) translateX(-120%);
    }
    .carousel-dark .carousel-indicators {
        .active {
        }
    }
}
