.carousel {
    padding: 0;
    height: 100%;
    width: 100%;

    .carousel-inner {
        position: relative;
        top: 0;
        left: 0;
        justify-content: center;
        height: calc(100% - 28.8px);

        .carousel-item {
            position: relative;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.11);
            border-radius: 23px;
            width: 100%;
            .inside__item {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        .carousel-item-start,
        .carousel-item-end {
            position: fixed;
            height: calc(100% - 164.8px);
            left: 0;
            right: 0;
        }

        .carousel-item-next,
        .carousel-item-prev {
            overflow: visible;
            transform: scale(0.99);
            transition: transform 0.08s cubic-bezier(0.77, 0, 0.18, 1);
        }
    }

    .carousel-indicators {
        display: flex;
        justify-self: center;
        width: fit-content;
        padding: 0 7px;
        margin: auto;
        .active {
            height: 0.8rem;
            width: 0.8rem;
            align-self: center;
            opacity: 0.9;
            border-color: white;
            border-width: 1.6px;
            border-style: solid;
            background-color: transparent;
        }
        Button {
            height: 1.4px;
            width: 0.8rem;
            border-radius: 5.5px;
        }
    }
}

.carousel-dark .carousel-indicators {
    .active {
        border-color: black;
    }
}
