//default

.project__card {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    .project__img__container {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 23px;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%);
    }
    .project__img {
        border: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .project__button__area {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        &.hint {
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0;
            animation: showing-img 2s linear;
            svg {
                rotate: -45deg;
            }
        }

        &.light {
            background-color: rgba(0, 0, 0, 0.4);
        }
        &.dark {
            background-color: rgba(255, 255, 255, 0.4);
        }
        .project__button {
            background-color: transparent;
            border: 0;
            height: 100%;
            width: 100%;
            a {
                height: 100%;
                width: 100%;
                text-decoration: none;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
            svg {
                rotate: -45deg;
            }
        }
    }
    .no__image {
        border-radius: 23px;
        height: 100%;
        width: 100%;
        background-color: rgba(132, 132, 132, 0.497);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
        }
    }
    .project__body {
        .project__title {
            text-align: center;
        }
        .project__text {
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-height: 20px;
            max-height: 1005;
        }
    }
}

//mobile
@media (max-width: 576px) {
    .project__card {
        .project__img {
        }
        .no__image {
            p {
            }
        }
        .project__body {
            .project__title {
            }
            .project__text {
            }
        }
    }
}

//tablet
@media (min-width: 576px) {
    .project__card {
        flex-direction: row;

        .project__img {
        }
        .no__image {
            p {
            }
        }
        .project__body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 30%;
            .project__title {
            }
            .project__text {
            }
        }
    }
}
