//default

.title__col {
    position: relative;
    z-index: 50;
    flex-wrap: nowrap;
    padding: auto 12px;

    .title__container {
        display: flex;
        justify-content: center;
        align-items: center;
        .title__row {
            position: relative;
            padding: 6px;
            /* -webkit-background-clip: padding-box; */
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
            border-radius: 23px;
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            -khtml-border-radius: 23px;
            justify-content: center;
            align-items: center;
            width: fit-content;
            padding: 1px;
            --bs-border-opacity: 0.1;
            .breadcrumb {
                justify-content: center;
                margin: -1px 0 0 0;
                .breadcrumb-item.text-dark a,
                .breadcrumb-item.text-light a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}

//mobile
@media (max-width: 576px) {
}

//tablet
@media (min-width: 576px) {
}
