.navbar {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    padding: 6px 0;
    border-radius: 23px;
    .flex-nowrap {
        padding-left: 5px;
    }
    .navbar-nav {
        margin-right: 28px;
        transition: all 0.5s;
        .nav-pills {
            --bs-nav-pills-border-radius: 23px;
            --bs-nav-pills-link-active-bg: rgba(136, 0, 0, 0.17);
        }
        .nav-link.active {
            border-radius: 23px;
            background-color: transparent;
            transition: all 0.3s;
        }
    }
    .mode__button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        padding: 0;
        margin: 11px;

        &.btn-dark {
            --bs-btn-hover-color: #fff;
            --bs-btn-active-color: #fff;
        }
    }
    .nav-link {
        padding: 0;
    }
    .btn {
        --bs-btn-bg: tranperent;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border: 0;

        svg {
            margin: 4px;
        }
        .nav-link {
            justify-content: center;
            align-items: center;
            text-align: center;
            text-decoration: none;
        }
    }
}

@media (max-width: 576px) {
    .navbar {
        position: fixed;
        bottom: 6px;
        left: 6px;
        right: 6px;
        width: calc(100% - 16px);
        .navbar-nav {
            flex-direction: row;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 23px;
            .nav-link.active {
                padding: 0;
            }
            &::-webkit-scrollbar {
                display: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
    }
}

@media (min-width: 576px) {
    .navbar {
        margin-bottom: 6px;
        .nav-link.active {
            padding: 0 8px;
        }
    }
}
