//default
.skills__card {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills__circular__container {
        position: relative;
        height: 80%;
        width: 88%;
        overflow: hidden;
        .skills__circular {
            position: absolute;
            border: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 24px;
        }
    }

    .skills__body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 12px auto;
        height: 30%;
        width: 100%;
        .skills__title {
            text-align: center;
        }
        .skills__progress {
            border: 0;
            background-color: transparent;
            margin: auto;
            width: 50%;
        }
    }
}

//mobile
@media (max-width: 576px) {
    .skills__card {
        .skills__circular {
        }
        .skills__body {
            .skills__title {
            }
            .skills__progress {
            }
        }
    }
}

//tablet
@media (min-width: 576px) and (max-height: 576px) {
    .skills__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        .skills__circular {
        }
        .skills__body {
            .skills__title {
            }
        }
    }
}
