//default
.skills__card {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    .skills__circular {
        padding: 12px;
    }

    .skills__body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 12px auto;
        height: 30%;
        width: 50%;
        .skills__title {
            text-align: center;
        }
        .skills__progress {
            border: 0;
            background-color: transparent;
            margin-right: 3px;
        }
    }
}

//mobile
@media (max-width: 576px) {
    .skills__card {
        .skills__circular {
            padding: 36px;
        }
        .skills__body {
            .skills__title {
            }
            .skills__progress {
            }
        }
    }
}

//desktop
@media (min-width: 576px) {
    .skills__card {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        height: 100%;
        width: 100%;
        .skills__circular {
            width: calc(40% - 24px);
            margin: auto;
        }
        .skills__body {
            .skills__title {
            }
        }
    }
}
