//default

.center__area {
    width: 100%;
    height: 100%;
    position: relative;
    .rotation__area {
        transform: rotate(360deg) scale(1);
        .clicable__btn,
        .unclickeble__btn {
            transform: rotate(-360deg);
        }
    }
    .rotation__area {
        transform: rotate(360deg) scale(1);
        .about__btn {
            transform: rotate(-360deg);
        }
    }

    .btns__area,
    .btns__click__area {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        rotate: 21deg;
        transition: transform 3.3s 0.6s, margin 1.1s;

        .clicked__btn {
            animation: myanim 0.5s linear;
            @keyframes myanim {
                from {
                    font-size: 0;
                    padding: 12px;
                }
                30% {
                    margin: 0;
                }
            }
        }
    }

    .avatar__area {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar {
            position: relative;
            visibility: visible;
            background-color: white;
            width: 200px;
            height: 200px;
            border: 6px solid rgba(var(--bs-light-rgb), 1);
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.3s;
            .ava__centre {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .text__centre {
                    z-index: 50;
                    position: relative;
                    width: 200px;
                    height: 200px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: scale(0);
                    transition: all 0.4s;
                    p {
                        position: relative;
                        margin-bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 200px;
                        height: 200px;
                    }
                }
                .show__effect {
                    transform: scale(1);
                }
            }
        }
        .hide {
            width: 0;
            height: 0;
            border-width: calc(100px);
        }
    }
}

//mobile

@media (max-width: 576px) {
    .about__row {
        .about__col {
            .avatar {
            }
        }
    }
}

//desktop
@media (min-width: 576px) {
    .about__row {
        height: 100%;
        .about__col {
            .avatar {
                width: 200px;
                height: 200px;
            }
        }
    }
}
