//default
.main {
    border-radius: 3px;
    border: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    .main__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px;
        gap: 6px;
        .main__col {
            flex: 1 0;
            position: relative;
        }
    }
}
//mobile
@media (max-width: 576px) {
    .main {
        .main__body {
            .main__col {
                padding: 6px;
            }
        }
    }
}

//tablet
@media (min-width: 576px) {
    .main {
        width: 100%;
        .main__body {
            .main__col {
            }
        }
    }
}
