//default
.welcome__area {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* text-shadow: rgba(255, 255, 255, 0.25) 0 0 13px; */
}
//mobile

@media (max-width: 576px) {
}

//tablet
@media (min-width: 576px) {
}
