//default
.hide {
    display: none;
}

.welcome__area {
    border: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .welcome__row {
        width: 100%;
    }
    .drop__area {
        min-height: 40px;
        border: 2px dashed;
        border-radius: 23px;
        padding: 12px;
        width: 100%;
    }
    .welcome__search__container {
        margin: 12px 0;
        width: 100%;
        .welcome__search {
            border: none;
            border-radius: 23px;
            box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
            margin: 0 auto;
            width: 100%;
        }
    }
    .welcome__btns__group {
        margin: 12px 0;
        border-radius: 22px;
        gap: 8px;
        width: 100%;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .skill__btn.btn {
            border-radius: 0;
            .skillName {
                padding: 0 8px;
                width: max-content;
                font-size: 0.8rem;
            }
        }
    }
}
//mobile

@media (max-width: 576px) {
    .welcome__area {
        width: 300px;
        .welcome__search__container {
            .welcome__search {
            }
        }
        .welcome__btns__group {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
        .drop__area {
        }
    }
}
@media (min-height: 576px) {
    .welcome__area {
        .welcome__btns__group {
            &::-webkit-scrollbar {
                display: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        }
    }
}

//tablet
@media (min-width: 576px) and (min-height: 576px) {
    .welcome__area {
        width: 80%;
        .welcome__search__container {
            .welcome__search {
            }
        }
        .welcome__btns__group {
            display: flex;
            flex-wrap: wrap;
            border-radius: 23px;
            overflow: hidden;
            &::-webkit-scrollbar {
                height: 6px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(128, 128, 128, 0.393);
                border-radius: 23px;
            }
        }
        .drop__area {
        }
    }
}
