// vars colors
$theme-colors: (
    'dark': #111111,
    'light': #f8f9fa
) !default;

@import '~bootstrap/scss/bootstrap';

//default

.hint {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: showing 2s linear;
    svg {
        rotate: -45deg;
    }
}

.app {
    position: relative;
    min-height: 382px;
    background-image: url('./backgroud.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    /* background-blend-mode: luminosity; */
    .app__backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 4px;
        .app__container {
            box-sizing: border-box;
            padding: 2px 0;
        }
    }
}

@keyframes showing {
    50% {
        opacity: 0.8;
    }
}

//default buttons
.btn {
    padding: 6px;
    --bs-btn-bg: tranperent;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 0;
    svg {
        margin: 4px;
    }
    &.btn-dark {
        --bs-btn-hover-color: white;
        --bs-btn-active-color: white;
        &:hover {
            --bs-btn-hover-color: black;
            --bs-btn-active-color: black;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    &.btn-light {
        --bs-btn-hover-color: black;
        --bs-btn-active-color: black;
        &:hover {
            --bs-btn-hover-color: white;
            --bs-btn-active-color: white;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}

//mobile
@media (max-width: 576px) {
    .app__container {
        height: calc(100% - 60px);
        max-height: calc(100% - 60px);
        width: 100%;
    }
}

//tablet
@media (min-width: 576px) {
    .app__container {
        width: calc(100% - 60px);
        max-width: calc(100% - 60px);
        height: calc(100% - 12px);
    }
}
