* {
    box-sizing: border-box;
}

html,
body,
#root,
.app,
.container {
    height: 100%;
    width: 100%;
}

.app {
    padding: 6px;
    background-color: darkgray;
    position: fixed;
    overflow: hidden;
}
